
<main class="login__section">
    <app-header></app-header>
    <form class="container">
    
        <div class="loginForm">
            <h2>Sign in</h2>
            <label class="__username" for="username">Username: </label>
            <input class="user__input input__field" type="text" id="username">
            <label class="__password" for="password">Password: </label>
            <input class= "password__input input__field" type="password" id="password">
            <button class="submit">Login</button>
    
        </div>
        
    </form>

</main>

<footer>

</footer>


